<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>sandbox01</title>
</head>
<body>

	<form action="http://localhost:7000/saml/slo" method="GET">
		<button type="submit">AP:single logout</button>
	</form>
	


	<form th:action="@{/logout}" method="POST">
		<button type="submit">RP:single logout</button>
	</form>

    
</body>
</html>