<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandbox01</title>
  </head>
  <body>
    <h1>sandbox01</h1>
    <div>
      <h2>400番台</h2>
      エラーに対応したファイルあり
      <ul>
        <li><a href="/sandbox01/st400" target="_blank">400</a></li>
        <li><a href="/sandbox01/st404" target="_blank">404</a></li>
      </ul>
    </div>
    
    <div>
      <h2>500番台</h2>
      エラーに対応したファイルないのでerror.htmlで
      <ul>
        <li><a href="/sandbox01/st500" target="_blank">500</a></li>
        <li><a href="/sandbox01/st503" target="_blank">503</a></li>
      </ul>
    </div>
  </body>
</html>
