<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <button id="helloGet">helloGet</button>
  <button id="helloPost">helloPost</button>
  <button id="helloGetWithValidation">helloGetWithValidation</button>
  <button id="helloPostWithValidation">helloPostWithValidation</button>

  <script>
    (function(){
      const helloGetElem = document.getElementById("helloGet")
      const helloPostElem = document.getElementById("helloPost")
      const helloGetWithValidationElem = document.getElementById("helloGetWithValidation")
      const helloPostWithValidationElem = document.getElementById("helloPostWithValidation")


      helloGetElem.addEventListener("click", async () => {
        const r = await fetch("/sandbox01/helloGet", {
          method: "GET"
        })

        console.log(await r.text())
      })
      
      helloPostElem.addEventListener("click", async () => {
        const r = await fetch("/sandbox01/helloPost", {
          method: "POST"
        })

        console.log(await r.text())
      })
      
      helloGetWithValidationElem.addEventListener("click", async () => {
        const r = await fetch("/sandbox01/helloGetWithValidation?code01=", {
          method: "GET"
        })

        console.log(await r.text())
      })
      
      helloPostWithValidationElem.addEventListener("click", async () => {
        const r = await fetch("/sandbox01/helloPostWithValidation", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            code01: ""
          })
        })

        console.log(await r.text())
      })


    })()

  </script>
</body>
</html>