<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
	<style>
		.is-hidden {
			display:none
		}
	</style>
</head>
<body>
	<span id="userNotFoundMessage" class="is-hidden">ユーザーがいません。</span>
    
	<ul>
		<li><a href="/sandbox01?a=1&b=2&c=3">sandbox01</a> </li>
	</ul>
	
	<script>
		(function(){
			const userNotFoundMessageElem = document.getElementById("userNotFoundMessage")
			
			const searchParams = new URLSearchParams (location.search)
			if (searchParams.has("usernotfound")) {
				userNotFoundMessageElem.classList.remove("is-hidden");
			}
		})()
		
	</script>
</body>
</html>