<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>Sandbox01</title>
	<script type="text/javascript" th:src="@{/script/AjaxClient.js}" defer></script>
</head>
<body>
	<a th:href="@{home}">home</a>
	<main>
		sandbox01

		<button id="hello">Hello</button>
		<button id="hello2">Hello2</button>
	</main>

	<script type="text/javascript">
		(function(){

			const helloDom = document.getElementById('hello');
			const hello2Dom = document.getElementById('hello2');


			helloDom.addEventListener('click', async () => {

				const response = await AjaxClient.get('/sandbox01/hello')
				console.log(response)
				alert(response)


			});

			hello2Dom.addEventListener('click', async () => {

				const response = await AjaxClient.post('/sandbox01/hello2')
				console.log(response)
				alert(response)


			});


		})()
	</script>
</body>
</html>