<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  
  
  <div>
    <ul>
      <li><a href="/actuator/mappings">mappings</a></li>
      <li><a href="/sandbox01/">sandbox01</a></li>
      <li><a href="/api/sandbox01/hello">sandbox01/hello</a></li>
      <li><a href="/sandboxA/">sandboxA</a></li>
      <li><a href="/api2/sandboxA/hello">sandboxA/hello</a></li>
    </ul>
  </div>
</body>
</html>